@using UserAdmin.Models;
@model User;

@{
    UserInfo currentUser = new UserInfo() {FirstName = Model.FirstName, LastName = Model.LastName, Email = Model.Email, AdminLevel = Model.AdminLevel};
    UserPassword userPassword = new UserPassword();
}

<h2>Edit @Model.FirstName @Model.LastName</h2><br>

<div class="row justify-content-between">

    <partial name="_UserInfo" model="currentUser" view-data="ViewData"></partial>
    <partial name="_UserPassword" model="userPassword"></partial>

</div>
