@using UserAdmin.Models;
@model User;

<h2>Edit profile</h2><br>

<div class="row justify-content-between">

    <div class="col-5">
        <form asp-action="EditInfo" method="post">
            <div class="form-group">
                <span asp-validation-for="FirstName" class="text-danger"></span><br>
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control">
            </div>
            <div class="form-group">
                <span asp-validation-for="LastName" class="text-danger"></span><br>
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control">
            </div>
            <div class="form-group">
                <span asp-validation-for="Email" class="text-danger"></span><br>
                <label asp-for="Email">Email Address</label>
                <input asp-for="Email" class="form-control">
            </div>
            <span asp-validation-for="Password" class="text-danger"></span><br>
            <span asp-validation-for="ConfirmPW" class="text-danger"></span><br>
            <span asp-validation-for="AdminLevel" class="text-danger"></span><br>
            @* <input type="hidden" asp-for="Password" value="@Model.Password">
            <input type="hidden" asp-for="ConfirmPW" value ="@Model.Password">
            <input type="hidden" asp-for="AdminLevel" value ="@Model.AdminLevel"> *@
            <button type="submit" class="btn btn-primary">Update Info</button>
        </form>
    </div>

</div>