@using UserAdmin.Models;
@model User;

@{
    UserInfo userInfo = new UserInfo() {FirstName = Model.FirstName, LastName = Model.LastName, Email = Model.Email, AdminLevel = Model.AdminLevel};
    UserPassword userPassword = new UserPassword();
}

<h2>Edit profile</h2><br>

<div class="row justify-content-between">

    <partial name="_UserInfo" model="userInfo"></partial>
    <partial name="_UserPassword" model="userPassword"></partial>

</div>